/*-- scss:defaults --*/

$dark-blue: #213D4F !default;
$darkest-blue: #17212B !default;
$light-blue: #A2B8CB !default; 
$lightest-blue: #D1DBE5 !default;
$light-orange: #E58066 !default;
$bright-orange: #EE6331 !default;
$green: #8AA67A !default;

$font-family-sans-serif: Open-Sans !default;
$font-family-monospace: Source-Code-Pro !default;

$body-bg: $dark-blue !default;
$body-color: $lightest-blue !default;
$link-color: $light-orange !default;
$navbar-bg: $darkest-blue !default;
$navbar-fg: $lightest-blue !default;
$navbar-hl: $light-orange !default;

/*-- scss:rules --*/

body {
  color: $lightest-blue !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: .9em !important;
}

h1,h2,h3,h4,h5 {
  color: $lightest-blue !important;
  font-weight: 200 !important;
}

.listing-title {
  font-size: .65em !important;
  font-weight: 700 !important;
}

.listing-subtitle {
  font-size: .9em !important;
}

.listing-description::-webkit-scrollbar {
  background: #EEEEEE !important; 
  width: 4px !important;
}

.listing-description::-webkit-scrollbar-thumb {
  background-color: rgba(68,112,153,.6) !important;
  border-radius: 24px;
}

.listing-description {
  height: 100px !important;
  overflow-y: auto !important;
}

.listing-category {
  color: #FFFFFF !important;
  background: #5b82a4 !important;
}

.card {
  border: 1px solid rgba(68,112,153,.4) !important;
  background-color: $dark-blue;
}

.nav-link {
  color: $bright-orange !important;
}

.nav-link.active {
  border-top: 1px solid rgba(68,112,153,.4) !important;
  border-left: 1px solid rgba(68,112,153,.4) !important;
  border-right: 1px solid rgba(68,112,153,.4) !important;
  border-bottom: 1px solid rgba(68,112,153,.4) !important;
}

.nav-tabs {
  border-bottom: 1px solid rgba(68,112,153,.4) !important;
}

.nav-tabs .nav-link:not([disabled]):not(.disabled).active {
    background-image: none;
    filter: none;
}

.nav-link:hover {
  color: $bright-orange !important;
}

.input-group-text, .form-control,  {
  border: 1px solid $lightest-blue !important;
  color: 1px solid $lightest-blue !important;
}

.form-select {
  color: $lightest-blue !important;
  border-color: $lightest-blue !important;
}

.form-select:focus, .form-control:focus {
  border-color: $bright-orange !important;
  box-shadow: none !important;
}

.source a, .source a:hover {
  color: $bright-orange !important;
  text-decoration: none !important;
}

.quarto-grid-item .card-attribution {
  color: $bright-orange !important;
}

